#input-dump {
	position:fixed;
	left:0;
	top:0;
	z-index:10;
}

.deactive-element {
	background:gray;
}

.active-element {
	background:orange;
}

.next-active-element {
	background:green;
}

.deactive-char {
	transition:opacity 0.3s;
	opacity:0;
}

.active-char {
	background:red;
}

.panel {
	background:rgba(255, 255, 255, 0.9);
	padding:5px;
	width:200px;
}

.panel .row {
	display:flex;
}

.panel label {
	flex:3;
}

.panel span {
	flex:1;
}