#input-dump {
	position:fixed;
	left:0;
	top:0;
	z-index:10;
}

.deactive-element {
	background:gray;
}

.active-element {
	background:orange;
}

.deactive-char {
	transition:opacity 0.3s;
	opacity:0;
}

.active-char {
	background:red;
}